:root {
    --color-default: #000000de; /* MUI default */
    --color-primary: #1976d2; /* MUI primary */
    --color-secondary: #9c27b0; /* MUI secondary */
    --color-success: #2e7d32; /* MUI success */
    --color-warning: #ed6c02; /* MUI warning */
    --color-danger: #d32f2f; /* MUI error/danger */
    --color-violet: oklch(60.6% 0.25 292.717);
}

/* BPMN SCHEMA */
.bjs-powered-by {
    display: none !important;
}

svg[data-element-id^="Collaboration_"]:focus {
    outline: none !important;
}

.djs-element.status-completed > .djs-visual > *:first-child {
    stroke: var(--color-success) !important;
    fill: var(--color-success) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.status-active > .djs-visual > *:first-child {
    stroke: var(--color-primary) !important;
    fill: var(--color-primary) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.status-scheduled > .djs-visual > *:first-child {
    stroke: var(--color-secondary) !important;
    fill: var(--color-secondary) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.status-incident > .djs-visual > *:first-child {
    stroke: var(--color-danger) !important;
    fill: var(--color-danger) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.status-failed > .djs-visual > *:first-child {
    stroke: var(--color-danger) !important;
    fill: var(--color-danger) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.status-terminated > .djs-visual > *:first-child {
    stroke: var(--color-warning) !important;
    fill: var(--color-warning) !important;
    fill-opacity: 0.2 !important;
}

.djs-element.selected-element > .djs-visual > *:first-child {
    stroke: var(--color-violet) !important;
}
